.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background-color: var(--base-variant);
  border-radius: 12px;
  margin-bottom: 15px;
}

.menuItem img {
  border-radius: 12px 0px 0px 12px;
  width: 175px;
  min-width: 175px;
  height: 160px;
  min-height: 160px;
  object-fit: cover;
}

.menuContent h2 {
  font-size: 20px;
  margin: 0px 0px;
}

.menuDesc {
  margin: 0;
}

.menuContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0px 20px;
  align-items: center;
  height: 100%;
  gap: 4px;
}

.counterButton {
  border: none;
  border-radius: 100%;
  background-color: var(--base-color);
  color: var(--text-color);
  width: 20px;
  cursor: pointer;
  height: 20px;
}

.menuItem .linkButton {
  background-color: #a02c2c;
  color: white;
  padding: 4px;
}

.menuItem svg {
  margin-bottom: -6px;
  fill: white !important;
}

.menuItemFooter {
  display: flex;
  gap: 10px;

  /* justify-content: start; */
  align-items: center;
  margin-top: 0;
  margin-left: auto;
}

.countInput {
  width: 40px;
  text-align: center;
  border-radius: 5px;
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSummary h2 {
  background-color: var(--base-variant);
  padding: 12px;
  border-radius: 12px;
}

.priceContainer {
  min-width: 110px;
  text-align: right;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  /* width: 110px; */
  justify-content: center;
  align-items: center;
}

.counterContainer > :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0;
}

.counterContainer > :first-child p {
  margin: 0;
}

.counterContainer > :last-child {
  margin: 0;
}

/* Responsiveness */

/* Tablet */
@media (max-width: 1024px) {
  main {
    width: 85%;
  }

  .menuItem img {
    width: 140px;
    height: 115px;
    min-height: 115px;
  }

  .menuItem h2 {
    font-size: 16px;
  }

  .menuDesc {
    font-size: 13px;
  }

  .menuItemFooter {
    flex-wrap: nowrap;
  }

  .price {
    font-size: 18px;
  }

  .priceContainer {
    min-width: 70px;
  }

  .cartSummary h2 {
    font-size: 18px;
    white-space: nowrap;
  }
}

/* Mobile */
@media (max-width: 767px) {
  main {
    width: 95%;
  }

  .textLogo {
    font-size: 10px;
  }

  .textLogo svg,
  .themeSwitch svg {
    width: 25px;
    height: 25px;
  }

  .cartButton svg {
    width: 30px;
    height: 30px;
  }

  .cartButton {
    padding: 15px;
  }

  .cartCount {
    font-size: 12px;
    width: 25px;
    height: 25px;
  }

  .menuItem img {
    width: 95px;
    min-width: 95px;
    height: 95px;
    min-height: 100%;
  }

  .menuItem h2 {
    font-size: 12px;
  }

  .menuDesc {
    font-size: 9px;
  }

  .menuItemFooter {
    flex-wrap: nowrap;
  }

  .price {
    font-size: 12px;
  }

  .menuItemFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .priceContainer {
    min-width: 0;
  }

  .menuItemFooter p {
    font-size: 10px;
  }

  .cartSummary h2 {
    font-size: 18px;
    white-space: nowrap;
  }

  .cartSummary {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .menuContent {
    padding: 10px 0;
  }

  .menuItem {
    min-height: 0;
  }
}
